<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}ComidaExpress{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>

<header class="header">

  <div class="logo">
      <a href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="ComidaExpress Logo" class="logo-img">
      </a>
  </div>

  <div class="search-group">
    <form method="GET" action="{{ url_for('main.index') }}">
        <input type="text" name="q" value="{{ query }}" placeholder="Buscar comida o restaurante">
        <button class="btn buscar">Buscar</button>
    </form>
  </div>

  <div class="user-login">
    {% if session.get('user_id') %}
        <a href="#" id="open-cart" class="btn iniciar">
            🛒 Carrito <span id="cart-total">0 ₽</span>
        </a>

        <a href="{{ url_for('auth.logout') }}" class="btn iniciar">Salir</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn iniciar">Iniciar</a>
    {% endif %}
  </div>

</header>


{% block content %}{% endblock %}

<footer>
  <p>© 2025 ComidaExpress | Contacto | Instagram | Facebook</p>
</footer>

<div id="cart-overlay" class="overlay hidden"></div>

<div id="cart-panel" class="cart-panel hidden">
    <div class="cart-header">
        <h2>🛒 Carrito</h2>
        <a href="#" class="clear-btn" onclick="clearCart()">Eliminar todo</a>
    </div>

    <div class="cart-items"></div>

    <div class="cart-summary">
        <h3>Total: <span id="sidebar-total">0 ₽</span></h3>
        <a class="checkout-btn" href="{{ url_for('orders.checkout') }}">Siguiente</a>
    </div>
</div>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>


</body>
</html>



