{% extends "base.html" %}
{% block title %}Hacer pedido — ComidaExpress{% endblock %}
{% block content %}

<div class="checkout-container">
    <h1 class="checkout-title">Realizar pedido</h1>
    <div class="checkout-content">

        <div class="checkout-left">
            <div class="delivery-box">

                <label>Ingrese su dirección:</label>

                <div class="address-inputs">
                    <input type="text" placeholder="Ciudad" class="addr ciudad">
                    <input type="text" placeholder="Calle" class="addr calle">
                    <input type="text" placeholder="Altura" class="addr altura">
                    <input type="text" placeholder="Piso" class="addr piso">
                    <input type="text" placeholder="Departamento" class="addr departamento">
                </div>

                <form id="order-form" method="POST" action="{{ url_for('orders.make_order') }}">
                    <input type="hidden" name="ciudad" id="ciudad_input">
                    <input type="hidden" name="calle" id="calle_input">
                    <input type="hidden" name="altura" id="altura_input">
                    <input type="hidden" name="piso" id="piso_input">
                    <input type="hidden" name="departamento" id="departamento_input">
                </form>

            </div>
        </div>

        <div class="checkout-right">
            <div class="payment-box">
                <h3>Metodo de pago:</h3>
                <p><strong>Solo efectivo</strong></p>

                <button class="pay-btn">Hacer pedido</button>
                <p class="total-sum">{{ total }} $</p>
            </div>
        </div>
    </div>

    <!-- lista de pedido-->
    <div class="order-list">
        <h3>Su pedido</h3>

        {% for id, item in cart.items() %}
        <div class="order-item" data-id="{{ id }}">
    <img src="{{ url_for('static', filename='img/platos/' + item.imagen) }}" class="order-img">

    <div class="order-info">
        <p class="order-name">{{ item.nombre }}</p>
        <p class="order-price">{{ item.precio * item.cantidad }} ₽</p>
    </div>

    <div class="order-qty">
        <button class="qty-minus qty-btn" data-action="dec">−</button>
        <span class="qty">{{ item.cantidad }}</span>
        <button class="qty-plus qty-btn" data-action="inc">+</button>
    </div>
</div>

        {% endfor %}
    </div>

</div>


<script src="{{ url_for('static', filename='js/checkout.js') }}"></script>



{% endblock %}

