{% extends "base.html" %}
{% block title %}ComidaExpress - Restaurante{% endblock %}
{% block content %}

<h2>{{ restaurant.nombre }}</h2>

<div class="productos">
  {% for p in platos %}
  <div class="producto">
      <div class="imagen">
        <img src="{{ url_for('static', filename='img/platos/' + p.imagen_url) }}">
      </div>

      <p class="precio">${{ "%.2f"|format(p.precio) }}</p>
      <p class="nombre">{{ p.nombre }}</p>
      
      <button class="btn-agregar add-btn" data-id="{{ p.id }}">
          + Agregar
      </button>

  </div>
  {% endfor %}
</div>
</section>

<script src="{{ url_for('static', filename='js/restaurantes.js') }}"></script>

{% endblock %}

